<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.androidcreateprojecttest">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS"
        tools:node="remove" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MainMaterialTheme"
        tools:targetApi="31">
        <activity
            android:name=".test_chat_project_copy.SplashActivity"
            android:exported="false" />
        <activity
            android:name=".test_chat_firebase.TestChatSendMessageActivity"
            android:exported="false" />
        <activity
            android:name=".test_chat_firebase.TestChatDisplayUserActivity"
            android:exported="false" />
        <activity
            android:name=".test_chat_firebase.TestChatSignUpActivity"
            android:exported="false" />
        <activity
            android:name=".test_chat_firebase.TestChatLoginActivity"
            android:exported="false"
            android:label="@string/title_activity_test_chat_login" />
        <activity
            android:name=".test_room_database.TestRoomDataBaseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="false" />
        <activity
            android:name=".test_chat_project_copy.RoomActivity"
            android:parentActivityName=".test_chat_project_copy.LobbyActivity" />
        <activity android:name=".test_chat_project_copy.LobbyActivity" />
        <activity android:name=".test_chat_project_copy.RegisterActivity" />
        <activity android:name=".test_chat_project_copy.LoginActivity" />
        <activity
            android:name=".test_chat_firebase.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".project_chat.main.MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".util.MyFirebaseMessagingServiceN"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--
        Set custom default icon. This is used when no icon is set for incoming notification messages.
        See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/chat_box" />
        <!--
        Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
    </application>

</manifest>